* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

/* ----- Youtube ----- */
/* @info: grid https://ascii.jp/elem/000/001/659/1659899/ */
.video-container-area {
  /* display: flex; */
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  /* background-color: #000; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

.video-container-box {
  display: block;
  gap: 8px;
  /* min-width: 240px; */
  /* max-width: 480px; */
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
